* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 501px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.body {
    width: 100%;
    height: 500px;
}

.sudoku_board {
    width: 100%;
    height: 100%;
    background: rgba(249, 234, 224, 0.78);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(150, 150, 150, 1);
}

.grid {
    width: 165px;
    height: 165px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(150, 150, 150, 1);
}

.cell {
    line-height: 54px;
    text-align: center;
    font-size: 26px;
    color: #73220e;
    width: 54px;
    height: 54px;
    border-bottom: 1px solid rgba(150, 150, 150, 1);
    border-right: 1px solid rgba(150, 150, 150, 1);
    transition: 0.2s;
}

.cell:hover {
    background: rgba(255, 68, 0, 0.21);
}

.solved {
    background: rgba(191, 243, 69, 0.82);
    color: rgba(0, 18, 255, 0.70);
}

.error {
    background: rgb(255, 98, 98);
    color: rgba(0, 18, 255, 0.70);
}

.empty {
    color: rgba(0, 18, 255, 0.70);
}

.sudoku_placeholder {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0);
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px 0px;
}

.buttoms {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    margin-right: 20px;
    background: #ff6b00;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 2px solid rgb(241, 105, 6);
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    transition: 0.2s;
}

.btn:hover {
    background: #ffffff;
    color: #ff6b00;
}

.action_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(106, 59, 15, 0.73);
    transition: 0.5s;
}

.btn_margin {
    margin: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-family: monospace;
    color: white;
    background: #ff6b00;
    line-height: 25px;
    width: 25px;
    text-align: center;
    height: 25px;
    cursor: pointer;
    border-radius: 15px;
}

.close:hover {
    background: #ffffff;
    color: #ff6b00;
}

.game_info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
}

.timer {
    width: 50%;
    height: 30px;
    font-size: 18px;
    font-family: cursive;
    line-height: 30px;
    text-align: right;
    padding: 0 10px;
    color: #612e0a;
}

.level {
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-family: cursive;
    padding: 0 10px;
    color: #612e0a;
    text-align: right;
}